{% extends "layout.html" %}
{% block content%}
      <div class="container mt-2">
        <h1 class="font-weight-bold">Comments</h1>
        {% for comment in comments.items %}
              <div class="col-md-12 p-2">
                <div class="bg-white p-2">
                  <small>
                     <div class="d-flex flex-row user-info mr-auto">
                         <img class="rounded-circle" src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}" height="30" width="30">
                         <div class="d-flex flex-column justify-content-start ml-2 mt-1">
                              <span class="d-block font-weight-bold name">{{ comment.author.username }}}</span>
                              <p class="comment-text">{{ comment.content }}</p>
                              <span class="date text-black-50 mt-1 text-muted">{{ comment.date_posted.strftime("%d %B, %Y") }}</span>
                         </div>                     
                      </div>
                  </small>
                </div>
              </div>
              {% endfor %}

              {% if current_user.is_authenticated %}
                    <div class="bg-light p-2">
                         <div class="d-flex flex-row align-items-start col-md-12">
                             <img class="rounded-circle" src="{{ image_file }}" height="30">
                             {% if form.comment.errors %}
                        {{ form.comment(class="form-control form-control-lg is-valid") }}
                           <div class="invalid-feedback">
                               {% for error in form.comment.errors %}
                                       <span> {{ error }} </span>
                               {% endfor %}
                           </div>
                      
                     {% else %}
                          {{ form.comment(class="form-control form-control-lg") }}
                     {% endif %}
                        </div>
                         <div class="mt-2 text-right">{{ form.submit(class="btn btn-primary btn-sm shadow-none") }}
                    </div>
               {% else %}
                    <div class="bg-light p-2">

                    </div>
               {% endif %}
                
      </div>
{% endblock content%}
